@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular';
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272424;
    color : #FFFFFF;
    height: 62px;
    font-size : 20px;
}
#container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#sidebar_container{
    grid-column: 1/2;
    border-right:1px solid #D9D9D9;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sidebar_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#connecting_user_container{
    margin-top:100px
}
.sidebar_btn{
    width: 100%;
    height: 180px;
    color:black;
    background-color: #FFFFFF;
    border:0px;
    font-size: 25px;
    font-family: 'Pretendard-Regular';
}
.userlist_sub{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    background-color: #272424;
    font-size: 20px;
    padding: 5px; 
}
.userlist{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    background-color: #272424;
    font-size: 18px;
    padding: 5px;
}
#logout{
    display: flex;
    height:50px;
    justify-content: center;
}
#logout_btn{
    color:#D9D9D9;
    background-color: #FFFFFF;
    border:0px;
    font-size:15px;
}

/*dm list container*/
#dm_list_container{
    position: relative;
    grid-column: 2/3;
    height: 100%;
}

#camera_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#camera_img{
    width: 180px;
    height: 180px;
}
#keyword_container{
    display: flex;
    justify-content: flex-end;
}
#search_btn{
    background-color: #FFFFFF;
    border:0px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#keyword{
    border-radius: 50px;
    width: 278px;
    height: 44px;
    font-size: 22px;
    padding-left: 20px;
}
input::placeholder {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Pretendard-Regular';
}
#search_img{
    width:44px;
    height: 44px;
}

/*dm listì¹¸*/
.user_msg_container {
    margin-top: 80px;
    margin-left:150px;
    border: #2b2b2b solid 2px;
    width: 1000px;
    height: 300px;
    margin-bottom: 20px;
}

.item_link {
    text-decoration: none;
    color: inherit;
}

.item_link:hover {
    text-decoration: none;
    color: inherit;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.photo_img {
    max-width: 50%;
    max-height: 100%;
    margin: 20px;
    object-fit: contain;
}

.text_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    max-width: 50%;
}
.author{
    font-size: 25px;
    font-weight: 600;
}
.text{
    font-size: 14px;
}

.other_user_container {
    border: #2b2b2b;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.other_user {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.other_user::after {
    margin-top: 14px;
    content: "";
    display: block;
    background-color: #272424;
    height: 1px;
    width: 500px;
}

.other_user_dm {
    margin: 10px 0;
    margin-left:15px;
    font-size: 17px;
}
