@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular';
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272424;
    color : #FFFFFF;
    height: 62px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}
#camera_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#camera_img{
    width: 180px;
    height: 180px;
}
#topbar_container{
    grid-column: 1/4;
    border-style: solid;
    border-color:#b7b7b7;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    padding: 0 20px;
}
.topbar_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    flex-wrap: nowrap;
    flex-grow : 1;
}
.topbar_btn{
    color:black;
    background-color: #FFFFFF;
    border:0px;
    font-size: 23px;
    font-family: 'Pretendard-Regular';
}
#keyword_container{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
#search_btn{
    background-color: #FFFFFF;
    border:0px;
}
#keyword{
    border-radius: 50px;
    width: 278px;
    height: 44px;
    font-size: 22px;
    padding-left: 20px;
}
input::placeholder {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Pretendard-Regular';
}
#search_img{
    width:44px;
    height: 44px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*사진 디테일 페이지*/

#photo_container{
    grid-row : 2/4;
    grid-column: 1/3;
}
.photo{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.photo_img{
    width: 784px;
    height: 895px;
}

#photo_detail_container{
    grid-column : 3/4;
    grid-row: 2/3;
    display: flex;
    height: 100%;
    position: relative;
}

.photo_detail{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.author{
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 50px;
    font-weight: 650;
}

.line{
    position: absolute;
    top: 170px;
    left: 0;
    content: "";
    background-color: #272424;
    height: 1px;
    width: 600px;
}

.item_btn{
    position: absolute;
    top: 120px;
    right: 0;
    margin-right: 100px;
    font-size: 18px;
    font-style: #808080;
    background-color: transparent;
    border: 0;
    font-family: 'Pretendard-Regular';
}

.keyword{
    position: absolute;
    top : 200px;
    left: 0;
    font-size: 18px;
    font-weight: 400;
}
.keyword-item{
    margin-right:5px;
}
.description{
    position: absolute;
    top : 260px;
    left: 0;
    font-size: 18px;
    font-weight: 400;
}

#msg_container{
    margin-top: 210px;
    margin-right: 100px;
    border: #272424;
    border-style: solid;
    border-width: 1px;
    min-height: 640px;
}

#msg_send_container{
    margin: 20px;
    width: 500px;
    height: 130px;
}

#msg{
    margin: 20px;
    width: 450px;
    height: 127px;
    font-size: 18px;
}
input::placeholder {
    display: flex;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}

#send_btn{
    margin-right: 20px;
    display: block;
    font-size: 18px;
    background-color: black;
    color: white;
    text-align: center;
    border: 0px;
    width: 80px;
    height: 40px;
    font-family: 'Pretendard-Regular';
}

.user_msg_container {
    display: flex;
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #2b2b2b;
    border-style: solid;
    border-width: 1px;
    width: 550px;
    height: 120px;
}

.user_name {
    position: absolute;
    top: 2px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
}

.mini_line{
    position: absolute;
    top: 43px;
    left: 0;
    margin-left: 20px;
    content: "";
    background-color: #272424;
    height: 1px;
    width: 510px;
}

.direct_msg {
    position: absolute;
    top: 60px;
    margin-left: 35px;
    font-size: 16px;
}

.reply_btn {
    position: absolute;
    top: 14px;
    right: 56px;
    font-size: 14px;
    color: #808080;
    background-color: transparent;
    border: 0;
    font-family: 'Pretendard-Regular';
}

.delete_btn {
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 14px;
    color: #808080;
    background-color: transparent;
    border: 0;
    font-family: 'Pretendard-Regular';
}

.reply_container {
    display: none;
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reply_to{
    margin-left: 20px;
    display: flex;
    position: absolute;
    top:17px;
    left: 60px;
    font-size: 13px;
}

.reply_msg_container {
    display: flex;
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #2b2b2b;
    border-style: solid;
    border-width: 1px;
    width: 550px;
    height: 120px;
}