@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular';
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272424;
    color : #FFFFFF;
    height: 62px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}
#camera_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#camera_img{
    width: 180px;
    height: 180px;
}
#topbar_container{
    grid-column: 1/4;
    border-style: solid;
    border-color:#b7b7b7;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    padding: 0 20px;
}
.topbar_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    flex-wrap: nowrap;
    flex-grow : 1;
}
.topbar_btn{
    color:black;
    background-color: #FFFFFF;
    border:0px;
    font-size: 23px;
    font-family: 'Pretendard-Regular';
}
#keyword_container{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
#search_btn{
    background-color: #FFFFFF;
    border:0px;
}
#keyword{
    border-radius: 50px;
    width: 278px;
    height: 44px;
    font-size: 22px;
    padding-left: 20px;
}
input::placeholder {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Pretendard-Regular';
}
#search_img{
    width:44px;
    height: 44px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*사진 업로드 페이지*/

#photo_container{
    grid-row : 2/4;
    grid-column: 1/3;
}
.photo{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.addImage {
    width: 784px;
    height: 895px;
    background-color: lightgray;
    overflow: hidden;
    margin: 0px 10px 10px 0px;
}
.inputImg {
    width: 784px;
    height: 895px;
}


#photo_detail_container{
    position: absolute;
    right : 100px;
    top: 300px;
    width: 33.33%;
    height: 100%;
}

.photo_detail {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.author {
    position: absolute;
    top: 100px;
    left : 0;
    font-size: 50px;
    font-weight: 650;
}

.line{
    position: absolute;
    top: 210px;
    left: 0;
    content: "";
    background-color: #272424;
    height: 1px;
    width: 500px;
}


.input_text{
    margin: 20px;
    display: flex;
    font-size: 18px;
    align-items: flex-start;
}

.photo_text_container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

#upload_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#key{
    margin: 20px;
    width: 450px;
    height: 127px;
    font-size: 18px;
}
#des{
    margin: 20px;
    width: 450px;
    height: 127px;
    font-size: 18px;
}

input::placeholder {
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.upload_btn {
    display: block;
    position: absolute;
    top: 800px;
    right : 300px;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    border: 0;
    width: 80px;
    height: 40px;
    font-family: 'Pretendard-Regular';
}
