<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}" />
    </head>
    <body>
        <script src="{{ url_for('static', filename='login_page.js') }}"></script>
        <div id = 'top'>ENJOY YOUR PHOTO BOOK</div>
        <div id="container">
            <div id = 'sidebar_container'>
                <div class="sidebar_btn_container"><button class='sidebar_btn' disabled>Photo</button></div>
                <div class="sidebar_btn_container"><button class='sidebar_btn' disabled>Upload</button></div>
                <div class="sidebar_btn_container"><button class='sidebar_btn' disabled>DM</button></div>
                <div id ='connecting_user_container'>
                    <div class="userlist_sub"> [ User List ]</div>
                    {% for signupuser in signupuserlist%}
                    <div class="userlist">{{signupuser[0]}}</div>
                    {% endfor %}
                </div>
            </div>
            <div id = 'main_login_container'>
                <div id="camera_img">
                    <img src="{{ url_for('static', filename='assets/camera.png') }}">
                </div>
                <div id="login_container">
                    <div id="login_text">로그인</div>
                    <form action="{{ url_for('check_user') }}" , method="POST">
                        <input type="text" placeholder="이메일" name ='email' id="email" class="text_area">
                        <input type="password" placeholder="비밀번호" name="password" id="password" class="text_area">
                        <div class="text_area">
                            <p id="error_text" display='none'></p>
                        </div>
                        <input type="submit" value="확인" id="login_btn" class='text_area'>
                    </form>
                    <div class="text_area" id="sign_up_container">
                        <button id="sign_up_btn" onClick="location.href='{{ url_for('signup_page') }}'">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>