<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/mainpage.css" />
    </head>
    <body>
        <div id = 'top'>ENJOY YOUR PHOTO BOOK</div>
        <div id="container">
            <div id = 'sidebar_container'>
                <div class="sidebar_btn_container"><button class='sidebar_btn' onclick="location.href='{{ url_for('mainpage') }}'">Photo</button></div>                
                <div class="sidebar_btn_container"><button class='sidebar_btn' onclick="location.href='{{ url_for('photo_upload') }}'">Upload</button></div>
                <div class="sidebar_btn_container"><button class='sidebar_btn' onclick="location.href='{{ url_for('dm_list') }}'">DM</button></div>
                <div id ='connecting_user_container'>
                    <div class="userlist_sub"> [ User List ]</div>
                    {% for signupuser in signupuserlist%}
                    <div class="userlist">{{signupuser[0]}}</div>
                    {% endfor %}
                </div>
                <div id="logout">
                    <button id="logout_btn" onclick="location.href='{{ url_for('loginpage') }}'">logout</button>
                </div>
            </div>
            <div id = 'main_login_container'>
                <div id="camera_img_container">
                    <img id = 'camera_img' src="{{ url_for('static', filename='assets/camera.png') }}">
                </div>
                <div id="keyword_container">
                    <form action="{{ url_for('mainpage') }}" method="POST">
                        <input type="text" id="keyword" name="keyword" placeholder="검색">
                        <button id="search_btn"><img id='search_img' src="{{ url_for('static', filename='assets/search.png') }}"></button>
                    </form>
                </div>
                
                <div id="item_container">
                    {% for photo in photos %}
                    <div class ='item'>
                        <a class="item_link" href="{{ url_for('photo_detail', item_id=photo[0]) }}">
                            <img class='photo_img' src="{{ url_for('static', filename=photo[1]) }}">
                            <p class="author">{{ photo[2] }}</p>
                            <p class="line"></p>
                            <p class="keyword">
                                {% for kw in photo[3].split(",") %}
                                    <span class="keyword-item">{{ kw|trim|safe }}</span>
                                {% endfor %}
                            </p>
                            <p class="description">{{ photo[4] }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>