<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/photo_upload.css" />
</head>
<body>
    <div id='top'>ENJOY YOUR PHOTO BOOK</div>
    <div id="camera_img_container">
        <img id='camera_img' src="{{ url_for('static', filename='assets/camera.png') }}">
    </div>
    <div id="container">
        <div id='topbar_container'>
            <div class="topbar_btn_container"><button class='topbar_btn' onclick="location.href='{{ url_for('mainpage') }}'">Photo</button></div>
            <div class="topbar_btn_container"><button class='topbar_btn' onclick="location.href='{{ url_for('photo_upload') }}'">Upload</button></div>
            <div class="topbar_btn_container"><button class='topbar_btn' onclick="location.href='{{ url_for('dm_list') }}'">DM</button></div>
            <div id="keyword_container">
                <form action="search_keyword" method="POST">
                    <input type="text" id="keyword" name="keyword" placeholder="검색">
                    <button id="search_btn"><img id='search_img' src="{{ url_for('static', filename='assets/search.png') }}"></button>
                </form>
            </div>
        </div>
        <div id="photo_container">
            <div class="photo">
                <div class="addImage" id="image-show"></div>
                <input type="file" id="fileInput" name="photo" accept="image/*" onchange="loadFile(this)">
            </div>
            <div id='photo_detail_container'>
                <div class="photo_detail">
                    <p class="author">{{ user_nickname }}</p>
                    <p class="line"></p>
                    <div class="photo_text_container">
                        <p class="input_text">키워드 입력</p>
                        <input type="text" id="key" name="key" placeholder="enter keyword">
                        <div id="keywordList"></div>
                        <p class="input_text">설명 입력</p>
                        <input type="text" id="des" name="des" placeholder="enter description">
                    </div>
                    <div id="button-container">
                        <button type="button" value="DONE" id="upload_btn" class="upload_btn">DONE</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function loadFile(input) {
                let file = input.files[0];
                let newImage = document.createElement("img");
                newImage.src = URL.createObjectURL(file);
                newImage.style.width = "100%";
                newImage.style.height = "100%";
                newImage.style.objectFit = "cover";
                let container = document.getElementById('image-show');
                container.appendChild(newImage);
            }

            document.getElementById('key').addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var keyword = this.value.trim();
                    if (keyword) {
                        var displayArea = document.getElementById('keywordList');
                        var newKeyword = document.createElement('span'); 
                        newKeyword.textContent = '# ' + keyword;
                        newKeyword.style.marginRight = '8px';
                        newKeyword.style.backgroundColor = 'lightgrey';
                        newKeyword.style.padding = '3px 6px';
                        newKeyword.style.borderRadius = '5px';
                        newKeyword.style.fontFamily = 'Pretendard-Regular';
                        newKeyword.style.fontSize = '17px';
                        displayArea.appendChild(newKeyword); 
                        this.value = '';
                    }
                }
            });

            document.getElementById('upload_btn').addEventListener('click', function() {
                var keywords = Array.from(document.getElementById('keywordList').children).map(span => span.textContent.trim().substring(1));
                var description = document.getElementById('des').value.trim();
                var fileInput = document.getElementById('fileInput');

                var formData = new FormData();
                formData.append('photo', fileInput.files[0]);
                formData.append('keywords', JSON.stringify(keywords));
                formData.append('description', description);

                fetch('/upload_page', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = "{{ url_for('mainpage') }}";
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        </script>
    </div>
</body>
</html>
