<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/signup_page.css" />
    </head>
    <body>
        
        <div id = 'top'>ENJOY YOUR PHOTO BOOK</div>
        <div id = 'main_signup_container'>
            <div id="camera_img">
                <img src="{{ url_for('static', filename='assets/camera.png') }}">
            </div>
            <div id="signup_container">
                <div id="signup_text">회원가입</div>
                <form action="{{ url_for('create_user') }}" method="POST">
                    <input type="text" placeholder="닉네임" name="nickname" id="nickname" class="text_area">
                    <input type="text" placeholder="이메일" name ='email' id="email" class="text_area">
                    <input type="password" placeholder="비밀번호" name="password" id="password" class="text_area">
                    <input type="password" placeholder="비밀번호 확인" id="password_check" class="text_area">
                    <div class="text_area">
                        <p id="error_text"></p>
                    </div>
                    <input type="submit" value="확인" id="signup_btn" class='text_area'>
                </form>
            </div>
        </div>

        
    </body>
</html>